<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.devework.helper.duotai.alfred</string>
	<key>connections</key>
	<dict>
		<key>15E7E7D6-91A4-4576-8F06-8796D7067CAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85663FCE-45C0-473A-A034-ABCE29269E5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B46DE5B2-BD21-4BB1-A27C-B36314B2E173</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF789974-B59D-4474-8AD5-DC95F701EBC8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>15E7E7D6-91A4-4576-8F06-8796D7067CAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF789974-B59D-4474-8AD5-DC95F701EBC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2E314F5-1A57-49AA-85BC-DFC74420780B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JeffMa</string>
	<key>description</key>
	<string>多态ZPN 科学上网设置助手</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DuoTai-Helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CF789974-B59D-4474-8AD5-DC95F701EBC8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>以下内容已经复制到剪贴板：</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D2E314F5-1A57-49AA-85BC-DFC74420780B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>26</integer>
				<key>keyword</key>
				<string>dt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在获取信息..</string>
				<key>script</key>
				<string>python main.py "default_item {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>多态ZPN 助手</string>
				<key>title</key>
				<string>多态ZPN 助手</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B46DE5B2-BD21-4BB1-A27C-B36314B2E173</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py "second_task {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>15E7E7D6-91A4-4576-8F06-8796D7067CAF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Alfredworkflow DuoTai Helper：</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>85663FCE-45C0-473A-A034-ABCE29269E5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># 一个多态ZPN 的助手管理型Alfred Workflow, 可通过本Workflow 直接查看账户信息,切换线路,开关某些模式
#
# @name: AlfredWorkflow-DuoTai-Helper
# @author: JeffMa
# @website: http://devework.com/
# @url: https://github.com/Jeff2Ma/AlfredWorkflow-DuoTai-Helper</string>
	<key>uidata</key>
	<dict>
		<key>15E7E7D6-91A4-4576-8F06-8796D7067CAF</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>85663FCE-45C0-473A-A034-ABCE29269E5A</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>B46DE5B2-BD21-4BB1-A27C-B36314B2E173</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>CF789974-B59D-4474-8AD5-DC95F701EBC8</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>D2E314F5-1A57-49AA-85BC-DFC74420780B</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.2.1</string>
	<key>webaddress</key>
	<string>http://devework.com/</string>
</dict>
</plist>
